*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
.container {
  --h: 60px;
  width: 100vw;
  height: 100vh;
  padding: 8px 32px 252px;
  background-color: #fefefe;
  overflow: auto;
}
/* .wrapResult {
  position: relative;
} */

.titleWrap {
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  gap: 22px;
  box-shadow: 0 0.5px 1px 0.5px rgb(164, 103, 103);
}
.titleGroup {
  position: relative;
  padding: 16px;
}
h1.title {
  min-width: 352px;
}
.gameList,
.title,
.excess,
.listMonth {
  display: flex;
  align-items: center;
  height: var(--h);
  color: #e84b00;
  font-size: 32px;
}
.rollNumbers,
.topPred,
.lottery,
.excess,
.listMonth {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  gap: 18px;
  cursor: pointer;
  background: floralwhite;
  box-shadow: 0 0.5px 1px 0.5px rgb(164, 103, 103);
  transition: all 0.25s ease;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.gameList {
  position: absolute;
  top: 82px;
  right: 0px;
  flex-direction: column;
  justify-content: stretch;
  z-index: 9999999;
  display: none;
}

.titleGroup:hover .gameList {
  display: block;
}

.listMonth span {
  display: flex;
  width: 32px;
  margin-top: 6px;
  align-items: flex-end;
  justify-content: center;
}

.selectMonWrap {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  font-size: 22px;
  padding: 10px 0;
  background: #e1e1e1;
  border-top: 1px solid #aa9292;
  cursor: pointer;
  user-select: none;
  z-index: 9999;
}

.selectMon {
  padding: 10px 52px;
  box-shadow: 0px 0px 1px #fefefebf;
}

.lottery:hover,
.listMonth.active,
.listMonth:hover {
  background: #e1e1e1;
}

.listMonth.active .selectMonWrap {
  display: block;
}
.listMonth.active svg {
  transform: rotate(180deg);
}
.listMonth.active svg {
  transition: all 0.5s ease;
}
.selectMon:hover {
  background: #eee;
}

.mon {
  position: relative;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-width: 250px;
  font-size: 18px;
  letter-spacing: 2px;
  background: #eee;
  border: 1px solid #565454;
}

.lotteryPred,
.lotteryPredRs,
.mon span {
  display: inline-block;
  color: #ee7f06;
  font-size: 28px;
  padding: 12px;
}
span.closeMonth {
  position: absolute;
  right: 8px;
  font-size: 18px;
  padding: 18px;
}

.preMonth {
  position: fixed;
  top: 50vh;
  left: 20px;
  font-weight: 700;
  background: rgba(240, 248, 191, 0.882);
  border-radius: 8px;
  cursor: pointer;
  z-index: 99999999;
}
.preMonth:hover,
span.closeMonth:hover {
  background: rgba(240, 207, 249, 0.761);
}
.listDate {
  display: flex;
  align-items: flex-start;
  padding: 4px 8px;
}
.listDate .dayInfo {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px !important;
  border: 1px solid #b3b3b3;
}
.listDate .dayInfo span {
  font-size: 14px !important;
  padding: 8px;
  border-bottom: 1px solid #d9a8a8;
}

.num {
  --ct: unset;
  --tr_slate: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-width: 28px;
  padding: 0px 4px;
  font-size: 9px;
  border-bottom: 1px solid #d9a8a8;
  transition: all 0.2s linear !important;
  position: relative;
}
.num.active::before {
  content: var(--ct);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: -62px;
  left: 50%;
  transform: translateX(var(--tr_slate));
  width: 216px;
  height: auto;
  padding: 6px 10px;
  color: crimson;
  font-size: 22px !important;
  border-radius: 6px;
  background: #aaebff;
  border: 1px solid #b3b3b3;
  letter-spacing: normal;
  z-index: 3;
}
.num.specialPrize {
  background: yellow !important;
}
.statisticList li.num {
  color: rgb(31, 2, 163);
  font-size: 26px;
  font-weight: 700;
}
li.evenTens::after,
.statisticList li.num::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffcc9638;
}
li {
  list-style: none;
}

.predictResults {
  margin: 50px auto;
  width: max-content;
  height: 700px;
  padding: 16px;
  /* background: #000; */
  box-shadow: 0 0.5px 1px 0.5px rgb(164, 103, 103);
  display: none;
}

.menu_item {
  display: flex;
}
.rollNumbers,
.topPred,
.menu_item .lottery {
  color: #ee7f06;
  font-size: 28px;
}
.lottery {
  width: 100%;
  padding: 8px 26px;
}
.predict {
  padding: 36px 16px 8px;
  text-align: center;
  color: #e84b00;
  font-size: 22px;
}
.predict h3 {
  padding: 8px;
  text-align: center;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.predict i {
  display: block;
  text-align: center;
  font-weight: 500;
}

.numbersPredict {
  height: 420px;
  width: 718px !important;
  padding: 8px 10px;
  margin-top: 28px;
  border-radius: 12px;
  display: none;
  box-shadow: 0 0.5px 1px 0.5px rgb(164, 103, 103);
  transition: all 0.25s ease;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
.rollNumbers,
.topPred {
  height: 50px;
  padding: 4px 26px;
  box-shadow: 0 0.5px 1px 0.5px rgb(151, 139, 139);
  transition: all 0.25s ease;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
.topPred:first-child {
  border-radius: 8px 8px 0 0;
}
.rollNumbers {
  box-shadow: 0 0px 1px 0.2px rgb(151, 139, 139);
  border-radius: 0 0 8px 8px;
  transition: all 0.25s ease;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.lotteryPredRs,
.numResults {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 9999px;
  background: #e5dada;
  text-shadow: -1px 1px 3px rgba(255, 255, 255);
  box-shadow: inset 0 0px 1px 0.2px rgb(238 255 254);
  transition: all 0.25s ease;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.mon .monSpan .lotteryPredRs {
  width: 52px !important;
  height: 52px !important;
  font-size: 28px;
  font-weight: 600;
  color: #c16af8;
  display: none;
}
.lotteryPred {
  padding: 12px 18px !important;
}

.topPred .numResults {
  animation: identifier 2s infinite linear;
  animation-delay: calc(-1s * (1 / 10) * var(--delay));
}

.lotteryPred:hover,
.rollNumbers:hover,
.topPred:hover {
  background: #fefefe;
  cursor: pointer;
}

.rollNumbers:hover .numResults,
.topPred:hover .numResults {
  opacity: 0.8;
}
.rollNumbers .numResults:last-child,
.topPred .numResults:last-child {
  background: #ff3667 !important;
  color: #f9ff0d;
  text-shadow: -1px 1px 2px rgb(0, 18, 211);
}

.topPred .numResults:not(:last-child):hover,
.rollNumbers .numResults:not(:last-child):hover {
  background: #b7ffa1;
}

.rollNumbers .numResults {
  animation: identifier 6s infinite linear;
  /* animation-delay: calc(-1s * (1 / 7) * var(--delay)); */
}

@keyframes identifier {
  0% {
    background-color: #fff;
  }
  10% {
    background-color: #b8ffa1;
  }
  20% {
    background-color: #a1ffd6;
  }
  30% {
    background-color: #92ccff;
  }
  40% {
    background-color: #cf99ff;
  }
  50% {
    background-color: #617bff;
  }
  60% {
    background-color: #ff79c0;
  }
  70% {
    background-color: #ff8484;
    color: #000;
  }
  80% {
    background-color: #ffb75f;
  }
  90% {
    background-color: #ffe469;
  }
  100% {
    background-color: #e1ff6b;
  }
}
.btn {
  display: inline-grid;
  place-items: center center !important;
  min-width: 124px;
  padding: 4px 36px 4px 36px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 1.6rem;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 999px;
  background-color: transparent;
  color: #f05123;
  border: 1px solid #f05123;
  transition: all 0.25s ease;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin-top: 20px;
}

.btn:hover {
  color: #4690da;
  border: 1px solid #4690da;
}

html,
body,
.container {
  overflow: auto;
}

.topPred {
  cursor: default !important;
}
.lotteryPred {
  cursor: help !important;
}
span.numResults {
  cursor: help;
}

.predictOutcome {
  position: fixed;
  inset: 20% 25% auto 25%;
  width: 50% !important;
  height: 60%;
  background: #eee;
  border-radius: 12px;
  box-shadow: -2px 2px 10px 1px #c16af8;
  z-index: 99999;
  display: none;
}
.table-result {
  text-align: center;
  font-family: arial;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 22px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table-result tr:nth-of-type(2n) {
  background-color: #f0f8ff;
}
.table-result th {
  font-weight: 400;
  font-size: 16px;
}
.prizeCode {
  width: 90%;
}

.name-prize,
.prizeCode {
  border-top: none;
}
.prizeCode .close {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 18px;
  font-weight: 400;
  padding: 22px 26px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.prizeCode .close:hover {
  background: #dddfe2;
  opacity: 0.8;
}
table td,
table th {
  padding: 3px;
  border: solid 1px #dddfe2;
}
.code-DB6 {
  display: inline-flex;
  width: 10.5%;
  height: 40px;
  line-height: 40px;
  color: #ed1c25;
  font-weight: 700;
  font-size: 20px;
}
.special {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 34px;
  font-weight: 700;
  color: #ed1c25;
}
.prizes {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  font-weight: 700;
}

.tdContent,
.prize {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 34px;
}
.prize {
  width: 100%;
  height: 100%;
  padding: 8px 36px;
  box-shadow: -1px 0 0 0.5px #dddfe2;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.prize2 {
  width: 50%;
}
.prize6,
.prize5,
.prize3 {
  width: 33%;
}
.prize7,
.prize4 {
  width: 25%;
}
.prize0,
tr:last-child {
  color: #ed1c25;
}
td {
  font-weight: 500;
  font-size: 24px;
}
.prize:hover {
  opacity: 0.8;
  background: #ffcc96ab;
}

/* Xuyên thấu background bằng isolation: isolate; (Thẻ con có z-index: -1; thẻ cha có isolation: isolate; ==> sẽ nhìn thấy thẻ con */
